{% extends 'base.html' %}
{% load bootstrap %}

{% block menu %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'core_home' %}">Home</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cadastro</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'core_lista_pessoas' %}">Pessoas</a>
                <a class="dropdown-item" href="{% url 'core_lista_veiculos' %}">Veiculos</a>
                <a class="dropdown-item" href="{% url 'core_lista_movrotativos' %}">Movimentos Rotativos</a>
                <a class="dropdown-item" href="{% url 'core_lista_mensalistas' %}">Mensalistas</a>
                <a class="dropdown-item active" href="{% url 'core_lista_movmensalista' %}">Movimento Mensalistas</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>

        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link disabled" href="">Olá {{ user }}</a>
        </li>         

        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
        {% endif %}
        
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>

    </ul>
  
{% endblock %}

{% block main %}

<div class="row">
    <div class="col-12">
        <h1>Lista Movimentos Mensalista</h1>        
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <form action="{% url 'core_movmensalista_novo' %}" method="POST">
            {% csrf_token %} <!--Protege de ataques do tipo csrf -->

            {{ form|bootstrap }}

            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>
    <div class="col-sm-6">       
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Mensalista</th>
                    <th scope="col">Data de Pagamento</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
            {% for mov in mov_mensalistas %} 
                <tr>
                    <th scope="row">{{ mov.id }}</th>
                    <td>{{ mov.mensalista }}</td>
                    <td>{{ mov.dt_pgto }}</td>
                    <td>R${{ mov.total }}</td>
                </tr>    
            {% endfor %}         
            </tbody>
        </table> 
    </div>
</div>

{% endblock %}
